@import "../../index";

.container-sider {

}

#container {
  height: 100%;

  .ant-modal-footer button:nth-child(1) {
    display: none;
  }


  //@white-bg4
  #container-footer {
    background-color: @white-bg4;
  }
}

#container-sider-left, #container-sider-right {
  background-color: @white-bgGreen;
  //background-color: @white-bgBlue;
  width: 100%;
}

#container-head {
  background-color: @white-bg4;

  #header-menu {
    background-color: @white-bg4;

  }
}
